<div style="margin: 10px 0px;">
  <div class="col-xs-12" style="padding-top: 10px;">
    <h1>Sign Up</h1>
  </div>
</div>
<div style="margin: 100px 0px;">
  <form ng-submit="create()" method="post" role="usuario">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="category">First Name</label>
        <input class="form-control" id="category" type="text" ng-model="usuario.nome">
      </div>
      <div class="form-group">
        <label for="category">Last Name</label>
        <input class="form-control" id="category" type="text" ng-model="usuario.sobrenome">
      </div>
      <div class="form-group">
        <label for="category">E-Mail</label>
        <input class="form-control" id="category" type="text" ng-model="usuario.email">
      </div>
      <div class="form-group">
        <label for="category">Password</label>
        <input class="form-control" id="category" type="password" ng-model="usuario.senha">
      </div>
      <div class="form-group">
        <label for="category">Confirm Password</label>
        <input class="form-control" id="category" type="password">
      </div>
      <div style="float: right; margin: 15px 0px;">
        <a class="btn btn-default" href="#/home">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </form>
</div>
